/* .col-phone{
    padding-top: 10px;
    width: auto;
}
.col-email{
    width: 40%;
    margin-top: 10px;
    margin-left: 100px;
    }
.col-password{
    width: 30%;
    margin-top: 10px;
}
.reg-container{
    margin-top: 20px;
    overflow:hidden;
    background-color: cornsilk;
    width: 70%;
    margin-left: 180px;
}
.col-phone{
    margin-left: 100px;
} */
.container2{
    width: 40%;
    margin-left: 33%;
    margin-top:  30px; ;
}

#c3{
    margin-top: 10px;
}

#c4{
    margin-top: 10px;
}

#b1{
    margin-top: 10px;
    
}
    